//output:navbar.component.html
nav.navbar.navbar-default.navbar-static-top 
  div.container
    div.navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#topnav")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand([routerLink]="['./Home']") Sample Tutorials
    div.collapse.navbar-collapse#topnav
      ul.nav.navbar-nav.navbar-right()
        li(*ngIf="!isLoggedIn")
          a([routerLink]="['./Login']") Login 
            span.glyphicon.glyphicon-log-in
        li(*ngIf="isLoggedIn", (click)="logOut()")
          a([routerLink]="['./Home']") Logout
            span.glyphicon.glyphicon-log-out
        li
          a([routerLink]="['./Portfolio']") Projects
        li(*ngIf="isLoggedIn")
          a([routerLink]="['./AddProject']") Add Project
