//output:portfolio.component.html

div(*ngIf="isPortfolio()")
  div.container
    div.row
      div.col-lg-12
        h1.page-header My Projects
    
    div.row
      div(*ngFor="let project of projects")
        div.col-md-4
          a((click)="goToProject(project.projectID)")
            img.img-responsive(src="http://placehold.it/700x400")
          h3 {{project.title}}
          p {{project.description}}

div(*ngIf="!isPortfolio()")
  portfolio-project
