//output:portfolio.component.html

div(*ngIf="isPortfolio()")
  div.container
    div.row
      div.col-lg-12
        h1.page-header My Projects
    
    div.row
      div(*ngFor="let value of values")
        div.col-md-4
          a([routerLink]="['./Project', {id: value}]")
            img.img-responsive(src="http://placehold.it/700x400")
          h3 Project Title
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.



router-outlet
